{% extends 'layouts/barebone.njk' %}
{% import 'macros.njk' as macros %}

{% block _stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/css/app.css">
    {% block stylesheets %}{% endblock %}
{% endblock %}
{% block _scripts %}
    {{ super() }}
    {% block scripts %}{% endblock %}
{% endblock %}

{% block header %}
    <a href="/" class="logo"><img src="/img/logo.svg" alt="Logo"> {{ app.name }}</a>
    <nav>
        <button id="menu-button"><i data-feather="menu"></i></button>
        <ul id="main-menu">
            <li><a href="{{ route('about') }}"><i data-feather="info"></i> <span class="tip">About</span></a></li>
        </ul>
    </nav>
{% endblock %}

{% block _body %}
    <div class="container">
        {{ macros.messages(flash) }}
    </div>

    <main>
        {% if h1 %}
            <h1>{{ h1 }}</h1>
        {% endif %}
        {% if subtitle %}
            <p>{{ subtitle }}</p>
        {% endif %}

        {% block body %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}{{ app.name }} v{{ app_version }} - all rights reserved.{% endblock %}