{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - About us' %}

{% block body %}
    <h1>Very interesting</h1>

    <div class="container">
        <section class="panel">
            <h2>This is us</h2>
            <p class="center">And we like wms!</p>
        </section>
    </div>
{% endblock %}